@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v25/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html{
    margin: 0px;
    padding: 0px;
}

input{
    padding: 5px 20px;
    border-radius: 2px;
    border: none;
    margin: 10px;
}

input[type=submit]{
    color: #ff9023;
    background-color: transparent;
    border: 1px solid #ff9023;
    cursor: pointer;
}

input[type=submit].big{
    font-size: 21px;
}

input[type=submit]:hover{
    background-color: #ff9023;
    color:#fff;
}

.title>a, .title>a:visited{
    color: #fff;
}

.spacing{
    margin: 20px; 
}

.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar > li {
    float: left;
}

.navbar > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar > li a:hover:not(.active){
    background-color: #111;
}

.navbar > .active {
    background-color: rgb(67, 4, 117);
}

.header *, .overlay{
    font-family: Oswald, sans-serif;
}

.header{
    position: fixed;
    top: 0;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: rgb(67, 4, 117);
    transition: padding .3s ease-in-out;
}

.header.inGame{
    padding-bottom: 10px;
}

.title{
    color: #fff;
    border: none;
    font-size: 36px;
}

#contador_container{
    display: none;
}

#contador_container .title{
    padding: 0px;
    margin: 0px;
    font-size: 24px;
}

.header>div{
    margin: 0 auto;
}

.random{
    max-height: 20px;
    margin-left: -40px;
    position: relative;
    top: 4px;
    cursor: pointer;
}

.popup{
    max-width: 80%;
    margin: 0 auto;
    position: fixed;
    top: 200px;
    bottom: 30%;
    right: 0;
    left: 0;
    max-height: calc(70% - 200px);
    color: #fff;
    padding: 5% 40px;
    background-color: rgb(67, 4, 117);
}

.popup h1 {
    color: #fff;
    border: none;
}

.overlay {
    background-color: rgb(67, 4, 117);
    color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 1;
    transition: opacity .6s ease-in-out;
    transition: margin .2s ease-in-out;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 999;
    margin-top: 0px;
    padding: 20% 0px;
}

.overlay.invisible {
    opacity: 0;
    margin-top: -100%;
}

.overlay h1{
    color: #fff;
    border: none;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.page>.start{
    background-color: rgb(67, 4, 117);
    height: 100vh;
    width: 100%;
    text-align: center;
}

.start>input{
    margin: 25% auto;
    font-size: 24px;
}

.page{
    position: relative;
    top: 142px;
    transition: top .3s ease-in-out;
}

.page.inGame{
    top: 50px;
    min-height: 1581px;
}

.footer {
    margin-top: 44px;
    background-color: rgb(67, 4, 117);
    width: 20%;
    border-radius: 10px;
    position: fixed;
    bottom: -150px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: bottom .35s ease-in-out;
    text-align: center;
    padding: 5px;
    padding-bottom: 20px;
}

.footer:hover{
    bottom: -10px;
}

.footer p{
    margin: 0px;
}

.footer p>a{
    font-family: Oswald;
    font-size: 18px; 
    color: #fff;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.footer p>a:hover{
    color: #ff9023;
}

.footer .logo{
    max-height: 18px;
    opacity: .8;
}

.footer .logo:hover{
    opacity: 1;
}
