@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v25/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html{
    margin: 0px;
    padding: 0px;
}

input{
    padding: 5px 20px;
    border-radius: 2px;
    border: none;
    margin: 5px;
}

input[type=submit]{
    color: #ff9023;
    background-color: transparent;
    border: 1px solid #ff9023;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #ff9023;
    color:#fff;
}

.header *{
    font-family: Oswald, sans-serif;
}

.header{
    position: fixed;
    top: 0;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: rgb(67, 4, 117);
    transition: padding .3s ease-in-out;
}

.header.inGame{
    padding-bottom: 10px;
}

.title{
    color: #fff;
    border: none;
    font-size: 36px;
}

#contador_container{
    display: none;
}

#contador_container .title{
    padding: 0px;
    margin: 0px;
    font-size: 24px;
}

.header>div{
    margin: 0 auto;
}

.page>.start{
    background-color: rgb(67, 4, 117);
    height: 100vh;
    width: 100%;
    text-align: center;
}

.start>input{
    margin: 25% auto;
    font-size: 24px;
}

.page{
    position: relative;
    top: 142px;
    transition: top .3s ease-in-out;
}
 .page.inGame{
    top: 50px;
 }