<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148766786-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-148766786-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7 Clicks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body style="background-color: #430475;">
    <div class="overlay invisible popup" id="overlay">
        <h1 title="title">Carregando...</h1>
    </div>
    <!--<div class="navbar">
        <ul>
            <li class="contador">0</li>
        </ul>
    </div> -->


    <div class='header'>
        <div id="initial_menu">
            <h1 class='title'>Sete cliques para as estrelas!</h1>
            <div>
                <input type='text' id='pagina_inicio' placeholder='P&aacute;gina inicial' name='inicio'> <img class='random'  src="/static/random.svg" onclick="pegar_aleatorio('pagina_inicio')">
                <input type='text' id='pagina_destino' placeholder='P&aacute;gina destino' name='destino'> <img class='random' src="/static/random.svg" onclick="pegar_aleatorio('pagina_destino')">
                <input type='submit' value='Come&ccedil;ar' onClick='comeca_jogo()'>
            </div>
        </div>
        <div id="contador_container">
            <h1 class='title'>Cliques: <span class="contador"></span></h1>
            <h1 class='title'>Destino: <a id="destino" target="_blank" title="Destino"></a></h1>
        </div>
        
        <div class="popup" id="popup">
            <div>
                <h1 id="message"></h1>
            </div>
        </div>
    </div>
    
    <div id="wikipedia" class="page">
        {{ text|safe }}
    </div>

    <div class="footer">
        <a href="https://github.com/helderdoutel/7clicks" target="_blank" title="Reposit&oacute;rio"><img class="logo" src="/static/git.svg"></a>

        <div class="">
            <p><a href="https://github.com/danielpontoal" target="_blank" title="Daniel">Daniel</a></p>
            <p><a href="https://github.com/gabrielgisoldo" target="_blank" title="Gabriel">Gabriel</a></p>
            <p><a href="https://github.com/helderdoutel" target="_blank" title="Helder">Helder</a></p>
            <p><a href="https://github.com/ramenbroth" target="_blank" title="Lucas">Lucas</a></p>
            <p><a href="https://github.com/dllsantos" target="_blank" title="Danillo">Danillo</a></p>
        </div>
    </div>
    <!-- <div class='start'><input type='submit' value='Me surpreenda!' onClick='comecar_jogo()'></div> -->

<script src="{{ url_for('static', filename='proverb-generator.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
</body>
</html>
